body
{
margin: 0;
padding: 0;
border: 0;
overflow: hidden;
height: 100%;
max-height: 100%;
}
li{
font-size:20px;
color:#999999;
padding-top:10px;}
top{
 -webkit-box-shadow:0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;}
/*leftframe*/
#framecontentLeft
{
position: fixed;
top: 61.5px;
left: 0;
height: 100%;
width: 100%;
overflow: hidden;
vertical-align: top;
/*background-color: #D2E6FA;*/
background-color:rgba(10%,20%,30%,0.1);
box-shadow:0px 0px 20px rgba(0, 0, 0, 0.2) inset;
}


/*mainframe*/
#maincontent
{
position: fixed;
left: 175px;/*Set left value to WidthOfLeftFrameDiv*/
top: 61.5px;/*Set top value to HeightOfTopFrameDiv*/
right:0;
bottom: 0;
overflow:hidden;
background: #fff;

/*border-top: solid 2px #70cbea;
border-left: solid 2px #70cbea;*/
}

* html body
{
padding: 100px 0 0 150px;/*Set value to (HeightOfTopFrameDiv 0 0 WidthOfLeftFrameDiv)*/
}
* html #maincontent
{
height: 100%;
right:auto;
}

/*LoginBox outside frame*/
#loginBox {
    /*margin: 0 auto;
    padding: 0px;
    text-align:center;*/
    width: 100%;
    height: 100%;
    
    font-size: 9pt;
    /*border: 1px  #999999;*/
    overflow: hidden;
   /* filter: alpha(opacity=90);
    opacity: 0.9;*/
	margin-right:0px;
	margin-bottom:0px;
	padding-top:2px;
	position:relative;
	
}
/*inside frame*/
iframe{
width:100%;
height:100%;

}
.login{
height:600px;
width:550px;
padding:0px;
margin:0px;
/*border:2px solid #000000;*/


}

#head{

margin-left:auto;
margin-right:200;
}

#bgDiv {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
	bottom:0px; 
   /* background-color:#999999;*/
    filter: progid: DXImageTransform.Microsoft.Alpha(style=3,opacity=0,finishOpacity=0) filter: alpha(opacity=0);
    opacity: 0;
	
}

/*nav bar fold*/
*{margin:0;padding:0;list-style:none;font-size:14px}
#nav{margin:0px;text-align:center;line-height:25px;width:185px;}
.title{background:#999999;color:#000000;border-bottom:1px solid #fff;cursor:pointer;
padding-right:20px;
padding-top:8px;
padding-bottom:8px;}
.title1{background:#888;color:#000;border-bottom:1px solid #666;cursor:pointer;
padding-right:30px;}
.content li{color:#000000;background:#ddd;border-bottom:1px solid #fff;font-size:14px}
